Repository materialsproject/custodian, pull requests merged in 2023-11, with the labels that each got.

#298 Fix `KspacingMetalHandler` triggering on runs that don't use `KSPACING`
  custodian/custodian.py
  custodian/vasp/handlers.py
  custodian/vasp/jobs.py
  custodian/vasp/tests/test_handlers.py
  test_files/INCAR
Labels: handler, fix

#299 Rewrite handler tests
  custodian/vasp/tests/test_handlers.py
Labels: tests, DX

#297 Fixed a small issue with the erroneous attribute call on a Structure object in AMIN handler
  custodian/vasp/handlers.py
Labels: handler, fix

#301 Fix `AliasingErrorHandlerTest` modifying test files
  custodian/ansible/actions.py
  custodian/cp2k/jobs.py
  custodian/vasp/handlers.py
  custodian/vasp/jobs.py
  custodian/vasp/tests/test_handlers.py
  custodian/vasp/validators.py
Labels: tests, DX

#273 Caching parsed output files
  custodian/custodian.py
  custodian/tests/test_utils.py
  custodian/utils.py
  custodian/vasp/handlers.py
  custodian/vasp/io.py
  custodian/vasp/tests/conftest.py
  custodian/vasp/tests/test_handlers.py
  custodian/vasp/tests/test_io.py
  custodian/vasp/validators.py
Labels: enhancement, perf

#304 Merge `setup.py` into `pyproject.toml`
  .gitattributes
  .pre-commit-config.yaml
  MANIFEST.in
  custodian/custodian.py
  custodian/vasp/jobs.py
  pyproject.toml
  setup.py
Labels: pkg

#306 Refactor test file copying
  tests/qchem/test_handlers.py
  tests/qchem/test_job_handler_interaction.py
  tests/qchem/test_jobs.py
Labels: housekeeping

#308 Don't needlessly inherit from `unittest.TestCase`
  tests/ansible/test_interpreter.py
  tests/feff/test_jobs.py
  tests/lobster/test_handlers.py
  tests/lobster/test_jobs.py
  tests/nwchem/test_handlers.py
  tests/qchem/test_handlers.py
  tests/qchem/test_job_handler_interaction.py
  tests/qchem/test_jobs.py
  tests/test_custodian.py
  tests/test_utils.py
  tests/vasp/conftest.py
  tests/vasp/test_handlers.py
  tests/vasp/test_io.py
  tests/vasp/test_validators.py
Labels: housekeeping, tests
