Repository materialsproject/custodian, pull requests merged in 2024-04, with the labels that each got.

#325 New Gaussian plugin
  custodian/gaussian/handlers.py
  tests/gaussian/test_jobs.py
Labels: enhancement, handler, gaussian

#326 Enable export of environment variables plus lobster run as a command
  custodian/lobster/jobs.py
Labels: enhancement, lobster

#329 Add `ruff`-auto inferrable types
  custodian/ansible/actions.py
  custodian/ansible/interpreter.py
  custodian/cli/converge_geometry.py
  custodian/cli/converge_kpoints.py
  custodian/cli/cstdn.py
  custodian/cli/run_nwchem.py
  custodian/cli/run_vasp.py
  custodian/cp2k/handlers.py
  custodian/cp2k/interpreter.py
  custodian/cp2k/jobs.py
  custodian/cp2k/utils.py
  custodian/cp2k/validators.py
  custodian/custodian.py
  custodian/feff/handlers.py
  custodian/feff/interpreter.py
  custodian/feff/jobs.py
  custodian/lobster/handlers.py
  custodian/lobster/jobs.py
  custodian/nwchem/handlers.py
  custodian/nwchem/jobs.py
  custodian/qchem/handlers.py
  custodian/qchem/jobs.py
  custodian/utils.py
  custodian/vasp/handlers.py
  custodian/vasp/interpreter.py
  custodian/vasp/jobs.py
  custodian/vasp/validators.py
  tasks.py
  tests/ansible/test_interpreter.py
  tests/conftest.py
  tests/cp2k/test_handlers.py
  tests/cp2k/test_jobs.py
  tests/feff/test_handlers.py
  tests/feff/test_jobs.py
  tests/lobster/test_handlers.py
  tests/lobster/test_jobs.py
  tests/nwchem/test_handlers.py
  tests/qchem/test_handlers.py
  tests/qchem/test_job_handler_interaction.py
  tests/qchem/test_jobs.py
  tests/test_custodian.py
  tests/test_utils.py
  tests/vasp/test_handlers.py
  tests/vasp/test_io.py
  tests/vasp/test_jobs.py
  tests/vasp/test_validators.py
Labels: linting, qa, types

#328 New Gaussian job and handlers
  .pre-commit-config.yaml
  custodian/gaussian/__init__.py
  custodian/gaussian/handlers.py
  custodian/gaussian/jobs.py
  pyproject.toml
  tests/files/gaussian/Checkpoint.chk
  tests/files/gaussian/Gau-mock.rwf
  tests/files/gaussian/Optimization.chk
  tests/files/gaussian/bad_file.com
  tests/files/gaussian/bad_file.out.gz
  tests/files/gaussian/coord_inputs.com
  tests/files/gaussian/coord_inputs.out.gz
  tests/files/gaussian/coords_dict_geom.com
  tests/files/gaussian/coords_dict_geom.out.gz
  tests/files/gaussian/coords_string_geom.com
  tests/files/gaussian/coords_string_geom.out.gz
  tests/files/gaussian/found_coords.com
  tests/files/gaussian/found_coords.out.gz
  tests/files/gaussian/insufficient_memory.com
  tests/files/gaussian/insufficient_memory.out.gz
  tests/files/gaussian/linear_bend.com
  tests/files/gaussian/linear_bend.out.gz
  tests/files/gaussian/missing_file.com
  tests/files/gaussian/missing_file.out.gz
  tests/files/gaussian/missing_mol.com
  tests/files/gaussian/missing_mol.out.gz
  tests/files/gaussian/mol_opt.com
  tests/files/gaussian/mol_opt.out.gz
  tests/files/gaussian/opt_steps_better_guess.com
  tests/files/gaussian/opt_steps_better_guess.out.gz
  tests/files/gaussian/opt_steps_cycles.com
  tests/files/gaussian/opt_steps_cycles.out.gz
  tests/files/gaussian/opt_steps_from_structure.com
  tests/files/gaussian/opt_steps_from_structure.out.gz
  tests/files/gaussian/opt_steps_int_grid.com
  tests/files/gaussian/opt_steps_int_grid.out.gz
  tests/files/gaussian/scf_convergence_algorithm.com
  tests/files/gaussian/scf_convergence_algorithm.out.gz
  tests/files/gaussian/scf_convergence_better_guess.com
  tests/files/gaussian/scf_convergence_better_guess.out.gz
  tests/files/gaussian/scf_convergence_cycles.com
  tests/files/gaussian/scf_convergence_cycles.out.gz
  tests/files/gaussian/solute_solvent_surface.com
  tests/files/gaussian/solute_solvent_surface.out.gz
  tests/files/gaussian/syntax.com
  tests/files/gaussian/syntax.out.gz
  tests/files/gaussian/walltime.com
  tests/files/gaussian/walltime.out.gz
  tests/files/gaussian/zmatrix.com
  tests/files/gaussian/zmatrix.out.gz
  tests/gaussian/__init__.py
  tests/gaussian/test_handlers.py
  tests/gaussian/test_jobs.py
Labels: enhancement, handler, gaussian
