Repository materialsproject/custodian, pull requests merged in 2024-03, with the labels that each got.

#320 Fix openbabel install to ensure q-chem tests run
  .github/workflows/linting.yml
  .github/workflows/test.yml
  custodian/qchem/handlers.py
  custodian/qchem/jobs.py
  tests/files/qchem/new_test_files/FF_working/test_cust.py
  tests/files/qchem/new_test_files/fileman_cpscf.qin
  tests/files/qchem/new_test_files/fileman_cpscf.qin.gz
  tests/files/qchem/new_test_files/fileman_cpscf.qout
  tests/files/qchem/new_test_files/fileman_cpscf.qout.gz
  tests/files/qchem/new_test_files/gdm_neg_precon_error.qin
  tests/files/qchem/new_test_files/gdm_neg_precon_error.qin.gz
  tests/files/qchem/new_test_files/gdm_neg_precon_error.qout
  tests/files/qchem/new_test_files/gdm_neg_precon_error.qout.gz
  tests/qchem/test_handlers.py
  tests/qchem/test_job_handler_interaction.py
  tests/qchem/test_jobs.py
Labels: qchem, tests, ci

#321 `pip` to `uv` CI migration
  .github/workflows/test.yml
  .pre-commit-config.yaml
  custodian/__init__.py
  custodian/feff/handlers.py
  custodian/qchem/__init__.py
  pyproject.toml
Labels: dependencies, pkg, ci

#323 Add missing `directory` kwarg on QCJob `run()` method
  .github/workflows/lint.yml
  .github/workflows/test.yml
  custodian/qchem/jobs.py
Labels: fix, qchem
